//Spriggan Workflow Configuration
//Description: Workflow for generating a genomic comparison between HAI/AR samples.
//Author: Kelsey Florek and Abigail Shockey
//email: kelsey.florek@slh.wisc.edu, abigail.shockey@slh.wisc.edu

//#########################
//###Pipeline Parameters###
//#########################

//starting parameters
params.reads=''
params.outdir='spriggan_results'

//PreProcessing
params.name_split_on=''

//Trimming parameters
params.minlength=10
params.trimdirection="lr"
params.qualitytrimscore=10
params.savetrimmedreads=false

//AMRFinderPlus parameters
params.selected_genes="'NDM|OXA|KPC|IMP|VIM'"

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true

//#####################
//####Docker Params####
//#####################

docker.enabled = false
//docker.runOptions = "-u \$(id -u):\$(id -g)"

//####################
//#Singularity Params#
//####################
singularity.enabled = true
singularity.runOptions = "-B /panfs/roc/groups/7/mdh:/panfs/roc/groups/7/mdh"
process.stageInMode = "link"

//####################
//##AWS Batch Params##
//####################
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'

//#######################
//##Google Cloud Params##
//#######################
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//##################
//##Nextflow Tower##
//##################
//tower.accessToken = ''
//tower.enabled = true

//#######################
//###Docker Containers###
//#######################

bbtools_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/staphb-bbtools-38.76.img'
fastqc_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/staphb-fastqc-0.11.8.img'
shovill_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/staphb-shovill-1.1.0.img'
quast_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/staphb-quast-5.0.2.img'
amrfinder_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/quay.io-wslh-bioinformatics-spriggan-amrfinder-3.10.1.img'
samtools_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/staphb-samtools-1.10.img'
mlst_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/quay.io-wslh-bioinformatics-spriggan-mlst-2.19.0.img'
kraken_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/staphb-kraken2-2.0.8-beta.img'
linux_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/ubuntu-xenial.img'
multiqc_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/quay.io-biocontainers-multiqc-1.11--pyhdfd78af_0.img'
pandas_container = '/home/mdh/shared/software_modules/spriggan/1.1.2/singularity/quay.io-wslh-bioinformatics-spriggan-pandas-1.3.2.img'

//bbtools_container = 'staphb/bbtools:38.76'
//fastqc_container = 'staphb/fastqc:0.11.8'
//shovill_container = 'staphb/shovill:1.1.0'
//quast_container = 'staphb/quast:5.0.2'
//amrfinder_container = 'quay.io/wslh-bioinformatics/spriggan-amrfinder:3.10.1'
//samtools_container = 'staphb/samtools:1.10'
//mlst_container = 'quay.io/wslh-bioinformatics/spriggan-mlst:2.19.0'
//kraken_container = 'staphb/kraken2:2.0.8-beta'
//linux_container = 'ubuntu:xenial'
//multiqc_container = 'quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0'
//pandas_container = 'quay.io/wslh-bioinformatics/spriggan-pandas:1.3.2'

executor{
  name = 'slurm'
  queueSize = 1000
  submitRateLimit = '5 sec'
}

process {
  cpus = 2
  memory = '4 GB'
  time = '1h'

  withName:preProcess{
    container = linux_container
  }
  withName:clean_reads{
    memory = { task.attempt == 1 ? '4 GB' : '8 GB' }
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:fastqc_summary{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '16 GB'
    time = '4h'
    container = shovill_container
  }
  withName:quast{
    container = quast_container
  }
  withName:quast_summary{
    container = pandas_container
  }
  withName:mlst{
    container = mlst_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:coverage_stats{
    container = pandas_container
  }
  withName:mlst_formatting{
    container = pandas_container
  }
  withName:kraken{
    cpus = 8
    memory = '16 GB'
    time = '4h'
    container = kraken_container
  }
  withName:kraken_summary{
    container = pandas_container
  }
  withName:bbduk_summary{
    container = pandas_container
  }
  withName:merge_results{
    container = pandas_container
  }
  withName:amrfinder_setup{
    container = pandas_container
  }
  withName:amrfinder{
    container = amrfinder_container
  }
  withName:amrfinder_summary{
    container = pandas_container
  }
  withName:multiqc{
    process.stageInMode = "copy"
    container = multiqc_container
  }
}
